@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
	font-family: 'Lexend Deca', sans-serif;


}
	
a:link {
	color:#000000;
	background-color:transparent;
	text-decoration:none;
}
a:visited {
	color:#000000;
	background-color:transparent;
	text-decoration:none;
}
a:hover {
	color:#000000;
	background-color:transparent;
	text-decoration:underline;
}
a:active {
	color:#000000;
	background-color:transparent;
	text-decoration:underline;
}
.nav {
	background-color: #ffffff;
	height: 75px;

}
	.nav img{
	float: left;
	padding-left: 15%;
	padding-top: 5px;
	background-size: 0px;
	}
	.nav ul li{
	color: black;
	display: inline;
	font-size: 16px;
	padding: 0 25px;	
	}

	.nav ul{
	float: right;
	padding-top: 30px;
	padding-right: 15%;
	}
.section1{
	background-color: white;
	background-size: cover;
	background-position: center;
	height: 600px;
	padding-top: 85px;
}
.section1 h3{
	color: #292929;
	
}
.left-content{
	float: left;
	text-align: left;
	width: 50%;	
}
.left-content h3{
	font-size: 30px;
	padding-top: 50px;
}
.left-content h2{
	font-size: 50px;
}
.left-content p{
	font-size: 20px;	
}
.button-section1{
	padding-top: 10px;
}
.buttons a{
	color: white;
}

.buttons {
	background-color: #f26222;
	border-radius: 10px;
	color: #ffffff;
	padding: 15px 30px;
	text-align: center;
	text-decoration: inherit;
	display: inline-block;
	font-size: 17px;
	border: 2px solid #f26222;
}
.buttons1 a{
	color: #f26222;
}

.buttons1{
	
	border-radius: 10px;
	padding: 15px 30px;
	text-align: center;
	text-decoration: inherit;
	display: inline-block;
	font-size: 17px;
	background-color: white;
	color: #f26222;
	border: 2px solid #f26222;
}

.right-content{
	float: right;	
	display: block;
	width: 50%;	
}
.right-content img{
		float: right;		
		width: 75%;
		height: 75%;
}
	
}
.container{	
	padding:0 20 0 20;
}
.canle{
	display: flex;
	flex-wrap: wrap;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 0px;
}
.section2{
	background-color: white;
	background-size: cover;
	background-position: center;
	height: 700px;
	padding-top: 20px;
}
.section2 img{
	float: left;		
	width: 80%;	
}
.left-content2{
	float: left;
	text-align: left;
	width: 45%
}
.right-content2{
	float: right;
	text-align: left;
	width: 50%;	
}
.right-content2 .aboutme{
	font-size: 50px;
	color: #F26222;
}
.right-content2 .name{
	font-size: 35px;
	padding-top: 30px;
}
.section3{
	background-color: #ECE7E7;
	height: 500px;	
}

.myskill{
	font-size: 65px;
	color: #F26222;
	text-align: center;
}
.section3-header hr{
	text-align: center;
}
.section3-header{
	margin: auto;
	padding-top:35px;
}
.sec3-text{	
	padding-top: 10px;
	font-size: 20px;
}
.software-ranking{
	margin: 0 auto auto auto;
}
.logo-soft{
	height: 70px;
	width: 70px;
}
.mid{
	text-align: center;
}
.soft{
	float: left;	
	padding-right: 50px;
}
.sec3-box1{
	padding-left: 50px;
}

.section4{
	height: 600px;
}
.section4 h4{
	font-size: 65px;
	color: #F26222;
	
}
.sec4-header{
	padding-top: 20px;
	display: block;
	margin: auto;
}
.job-profile{
	display: flex;
	margin: 0 auto auto auto;
	
}

.box4{
	width: 150px;
	height: 200px;
	border-radius: 15px;
	padding: 5px;
	scroll-snap-align: start;
}
.box4-1{
	background-color: #f26222;
	background-image: url("sec4-box1.jpg");
	background-size: cover;	
	width: 150px;
	height: 200px;
}

.box4-2{
	background-color: #f26222;
	background-image: url("sec4-box2.jpg");
	background-size: cover;	
	width: 150px;
	height: 200px;
}
.box4-3{
	background-color: #f26222;
	background-image: url("sec4-box3.jpg");
	background-size: cover;	
	width: 150px;
	height: 200px;
}
.box4-4{
	background-color: #f26222;
	background-image: url("sec4-box4.jpg");
	background-size: cover;	
	width: 150px;
	height: 200px;
}
.box4-5{
	background-color: #f26222;
	background-image: url("sec4-box5.jpg");
	background-size: cover;	
	width: 150px;
	height: 200px;
}
.box4-6{
	background-color: #f26222;
	background-image: url("sec4-box6.jpg");
	background-size: cover;	
	width: 150px;
	height: 200px;
}
.sec4-header p{
	padding-top: 10px;
	font-size: 20px;
}

.Creatory, .Optimus, .VPT, .SGD, .FL{
	padding: 0 30px 0 0;
}
.sec4-text{
	font-size: 17px;
	color:#ffffff;
	padding-top: 105px;
}
.text1{
	color: #ffffff;
	font-size: 13px;
}
.Creatory:hover{
	transform: scale(1.05);
	transition: all .2s ease;
	
}
.SGD:hover{
	transform: scale(1.05);
	transition: all .2s ease;
}
.Optimus:hover{
	transform: scale(1.05);
	transition: all .2s ease;
}
.FL:hover{
	transform: scale(1.05);
	transition: all .2s ease;
}
.VPT:hover{
	transform: scale(1.05);
	transition: all .2s ease;
}
.IU:hover{
	transform: scale(1.05);
	transition: all .2s ease;
}
.section5{
	background-image: url("bg-section5.jpg");
	background-position: center;
	height: 200px;
	
	
}
.kpi{
	display: flex;
	text-align: center;
	margin: auto;
	
}
.kpi1, .kpi2, .kpi3, .kpi4{
	padding: 0 75px 0 0;
	
}

.kpibox h3{
	color: white;
	font-size: 45px;
}
.kpibox p{
	color: white;
	font-size: 25px;
}
.section6{
	height: 1100px;
	padding: 50px 0;
	padding-left: 15%;
	padding-right: 15%;	
	
}
.section6 .projectalbum{
	display: grid;
	grid-template-columns: repeat(6, auto);
	grid-template-rows: repeat(8, 100px);
	grid-gap: 10px;
	padding-top: 35px;
	border: 10px;
	
}
.section6 .projectalbum .pj1{
	background-image:url("thumbnail-sec5-vuong1.jpg");
	background-size: cover;
	grid-column: 1/3;
	grid-row: 1/5;
}

.section6 .projectalbum .pj2{
	background-image:url("thumbnail-sec5-2-en.jpg");
	background-size: cover;
	grid-column: 3/5;
	grid-row: 1/3;
}
.section6 .projectalbum .pj3{
	background-image: url("thumbnail-sec5-3-en.jpg");
	background-size: cover;
	grid-column: 3/5;
	grid-row: 3/5;
}
.section6 .projectalbum .pj4{
	background-image: url("thumbnail-sec5-vuong-4.jpg");
	background-size: cover;
	grid-column: 5/7	;
	grid-row: 1/5;
}
.section6 .projectalbum .pj5{
	background-image: url("thumbnail-sec5-vuong-5.jpg");
	background-size: cover;
	grid-column: 1/3;
	grid-row: 5/9;
}
.section6 .projectalbum .pj6{
	background-image: url("thumbnail-sec5-vuong6.jpg");
	background-size: cover;
	grid-column: 3/5;
	grid-row: 5/9;
}
.section6 .projectalbum .pj7{
	background-image: url("thumbnail-sec5-7-en.jpg");
	background-size: cover;
	grid-column: 5/7;
	grid-row: 5/7;
}
.section6 .projectalbum .pj8{
	background-image: url("thumbnail-sec5-8-en.jpg");
	background-size: cover;
	grid-column: 5/7;
	grid-row: 7/9;
}
.proj:hover{
	transform: scale(1.02);
	transition: all .3s ease;

}
.sec6-text{
	text-align: center;
}
.button-section6{
	padding-top: 25px;
	text-align: center;
}
.section7{
	height: 400px;
	background-color: #F26222;
}
.contactbox{
	height: 200px;
	text-align: center;}

.section7 .info{
	font-size: 20px;
	padding-top: 20px;
	width: 70%;
}
.sec7-canle{
	padding: 100px 0 0 110px;
	float: left;
}
.linked{
	display: flex;
	float: right;
	
	padding-top: 130px;
	
}
.facebook-icon, .yt-icon, .ins-icon{
	padding-right: 50px;	
	font-size: 75px;
	
}
.footer{
	height: 30px;	
	color:#FFFFFF;
	padding-top: 20px;
	background-color:#030303;
	text-align: center;
	font-size: 15px;
}
